body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1e293b;
    color: #f8f9fa;
    text-align: center;
}

.site-name {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 1.5em;
    font-weight: bold;
    color: #00AFFF;
}

.tabs {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #00AFFF;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.tabs a {
    margin: 0 15px;
    padding: 15px 25px;
    text-decoration: none;
    color: #f8f9fa;
    font-weight: bold;
    transition: background-color 0.3s;
}

.tabs a:hover {
    background-color: #008FCC;
}

.logo {
    margin: 80px 0 20px;
}

h1 {
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    color: #0d6efd;
}

.intro {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #00AFFF;
}

.description {
    text-align: center;
    color: #00AFFF;
    margin-top: 20px;
}

.description h2 {
    font-size: 2em;
    color: #00AFFF;
    margin-bottom: 10px;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    color: #0d6efd;
}

.description h3 {
    font-size: 2em;
    color: #0d6efd;
    margin-bottom: 10px;
}

.description ul {
    list-style-type: square;
    padding-left: 20px;
}

.description ul li {
    margin: 5px 0;
}

.container {
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 60px;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #00AFFF;
    border-radius: 10px;
    margin-top: 20px;
}

.tab button {
    background-color: #00AFFF;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: #1e293b;
    border-radius: 10px;
    margin: 5px;
}

.tab button:hover {
    background-color: #008FCC;
    color: #f8f9fa;
}

.tab button.active {
    background-color: #008FCC;
    color: #f8f9fa;
}

.tabcontent {
    display: none;
    padding: 20px;
    border-top: none;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin-top: 20px;
    color: #00AFFF;
}
